@import "tailwindcss";

body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


:root {
  --background: #f0f0f0;
  --foreground: #2f2f2f;
  --primary: #1c1c1c;
  --primary-foreground: #ffffff;
  --muted: #dfe0f2;
  --muted-foreground: #828282;
  --muted-danger: #e15e5e;
  --border: #c9c9c9;
  --duration-transition: 2s;
}

.dark {
  --background: #131313;
  --foreground: #f2f0ff;
  --primary: #e0e0e0;
  --primary-foreground: #1c1c1c;
  --muted: #292929;
  --muted-foreground: #cecece;
  --muted-danger: #e68686;
  --border: #2f3137;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted-danger: var(--muted-danger);
  --color-border: var(--border);

  --duration-colors: var(--duration-transition);

  --animate-fade-in: fadeIn 0.25s;
  --animate-fade-out: fadeOut 0.25s;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }
}


@layer base {
  body {
    @apply bg-background text-foreground;
  }
}